<h1>News of Life</h1>
<!--<app-navbar></app-navbar>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active" >Headlines</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/economy']" routerLinkActive="router-link-active" >Economy <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sports']" routerLinkActive="router-link-active" >Sports</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/media']" routerLinkActive="router-link-active" >Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/education']" routerLinkActive="router-link-active" >Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entertainment']" routerLinkActive="router-link-active" >Entertainment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/world']" routerLinkActive="router-link-active" >World</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/technology']" routerLinkActive="router-link-active" >Technology</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/beauty']" routerLinkActive="router-link-active" >Beauty</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/zodiac-sign']" routerLinkActive="router-link-active" >Zodiac Sign</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  
</footer>